[submodule "Submodules/Mixpanel"]
	path = Submodules/Mixpanel
	url = git://github.com/mixpanel/mixpanel-iphone.git
[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/FS-Stack/ShareKit.git
