<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>active</key>
		<true/>
		<key>av</key>
		<dict>
			<key>broadcastOption</key>
			<integer>6</integer>
			<key>broadcastType</key>
			<string>2</string>
			<key>fps</key>
			<integer>30</integer>
			<key>keyFrameInterval</key>
			<string>30</string>
			<key>videoMaxBitrateScalar</key>
			<integer>1</integer>
		</dict>
		<key>name</key>
		<string>default</string>
		<key>network</key>
		<dict>
			<key>address</key>
			<string>ca1.stream.tapin.tv</string>
			<key>application</key>
			<string>/live</string>
			<key>autoBitrateAdjust</key>
			<string>YES</string>
			<key>autoRestart</key>
			<string>NO</string>
			<key>pass</key>
			<string></string>
			<key>port</key>
			<integer>1935</integer>
			<key>user</key>
			<string>tapintv</string>
			<key>useTCP</key>
			<true/>
		</dict>
		<key>pid</key>
		<string>default</string>
		<key>version</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
