<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>192x144</string>
	<string>320x240</string>
	<string>352x240</string>
	<string>352x288</string>
	<string>480x360</string>
	<string>640x360</string>
	<string>640x480</string>
</array>
</plist>
